<% include partials/header %>

<div id="container">
  <div id="inner">
    <div id="time"></div>
    <div id="date"></div>
  </div>
  
</div>
<br><br>
<div id="outer">
<div id="white">
  <h1>Hello Class!</h1>
</div>
</div>

<% include partials/footer %>